login-page {
	.header-logo {
		width: 60vw;
		margin-left: auto;
		margin-right: auto;

    .logo_app {
      width: 100%;
      padding-bottom: 16% !important;
    }
	}

	.login-content {
		.alt-options {
			.button {
				margin: 0px;
				padding: 0px;
				font-size: 1.4rem;
			}

			.forgot-button {
				color: $white-d;

				.button-inner {
					text-align: center;
				}
			}
		}

		.logo-principal {
			background-color: $theme-color-1;
      border-radius: 5px;
		}
	}
}