page-puntos-mapa {
  .scroll-content {
    height: 94%;
    padding: 0px !important;
    margin-bottom: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
  }

  #map {
    width: 100%;
    height: 100%;
  }

  .btn-mapa {
    width: 83%;
    position: absolute;
    bottom: 30px;
    left: 10px;
    right: 20px;
    background-color: $theme-color-5;
  }
}