<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Perfil</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="perfil-content">
  <div class="user-details">
    <ion-row class="user-main-data-row">
      <ion-col no-padding col-4>
        <img class="item-info" src="{{ perfil?.fotografia }}" onError="this.src='./assets/images/credencial/usuario.png';" />
      </ion-col>
      <ion-col no-padding col-8>
        <ion-row class="user-bio-row">
          <ion-col no-padding col-12>
            <h2 class="user-name">{{ perfil?.nombres }} {{ perfil?.apellidos }}</h2>
          </ion-col>
          <ion-col no-padding col-12 *ngIf="perfil?.movilidad == 'false'">
            <span class="user-info">{{ perfil?.codCarrera }} {{ perfil?.carrera }}</span>
          </ion-col>
          <ion-col no-padding col-12 *ngIf="perfil?.movilidad == 'true'">
            <span class="user-info">{{ perfil?.codCarrera.split(',')[0] }} {{ perfil?.carrera.split(',')[0] }}</span>
          </ion-col>
          <ion-col no-padding col-12>
            <span class="user-info-estado">{{ perfil?.descEstado }}</span>
          </ion-col>
          <ion-col no-padding col-12>
            <span class="user-info">
              <b>Año</b> {{ perfil?.periodo.anio }}, <b>Semestre</b> {{ perfil?.periodo.semestre }}
            </span>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <button ion-button block class="btn-app" (click)="editarPerfil()">
          <ion-icon name="contact"></ion-icon>&nbsp;
          Portal Académico
        </button>
        <button ion-button block class="btn-app" (click)="cambiarClave()">
          <ion-icon name="key"></ion-icon>&nbsp;
          Cambiar clave
        </button>
        <button ion-button block class="btn-app" (click)="aulaVirtual()">
          <ion-icon name="people"></ion-icon>&nbsp;
          Aula Virtual
        </button>
        <button ion-button block color="danger" (click)="salir()">
          <ion-icon name="log-out"></ion-icon>&nbsp;
          Salir
        </button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>