<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Credencial</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <credencial></credencial>
</ion-content>